body {
  font-family: arial, sans-serif;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
h1 {
  color: #878787;
  font: size 24px;
  font-weight: 100;
  line-height: 29px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.active {
  color: rgba(135, 135, 135);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
